$snotra--white: #FFFFFF;
$snotra--black: #000000;
:root {
    --snotra--sys--primary: #C00004;
    --snotra--sys--on-primary: #FFFFFF;
    --snotra--sys--primary-container: #FFDAD5;
    --snotra--sys--on-primary-container: #410000;
    --snotra--sys--secondary: #904A40;
    --snotra--sys--on-secondary: #FFFFFF;
    --snotra--sys--secondary-container: #FFDAD5;
    --snotra--sys--on-secondary-container: #3B0905;
    --snotra--sys--tertiary: #785A00;
    --snotra--sys--on-tertiary: #FFFFFF;
    --snotra--sys--tertiary-container: #FFDF9C;
    --snotra--sys--on-tertiary-container: #251A00;
    --snotra--sys--error: #BA1A1A;
    --snotra--sys--on-error: #FFFFFF;
    --snotra--sys--error-container: #FFDAD6;
    --snotra--sys--on-error-container: #410002;
    --snotra--sys--outline: #857370;
    --snotra--sys--background: #FFFBFF;
    --snotra--sys--background-85: #FFFBFF;
    --snotra--sys--content-background: #E5E3E5;
    --snotra--sys--on-background: #201A19;
    --snotra--sys--on-background-second-text: #655C5B;
    --snotra--sys--surface: #FFFBFF;
    --snotra--sys--on-surface: #201A19;
    --snotra--sys--on-surface-second-text: #655C5B;
    --snotra--sys--surface-variant: #F5DDDA;
    --snotra--sys--on-surface-variant: #534341;
    --snotra--sys--inverse-surface: #362F2E;
    --snotra--sys--inverse-on-surface: #FBEEEC;
    --snotra--sys--inverse-primary: #FFB4A9;
    --snotra--sys--shadow: #000000;
    --snotra--sys--surface-tint: #C00004;
    --snotra--sys--outline-variant: #D8C2BE;
    --snotra--sys--scrim: #000000;
    --snotra--sys--surface-tint-color: #C00004;

    --snotra--surfaces---nav-rail-amp--header-background: #FDF4F7;
    --snotra--surfaces--surface1: #FFFBFF;
    --snotra--surfaces--surface2: #FFFBFF;
    --snotra--surfaces--surface3: #FFFBFF;
    --snotra--surfaces--surface4: #FFFBFF;
    --snotra--surfaces--surface5: #FFFBFF;

    --snotra--state-layers--on-surface--opacity-8: #1C1B1F14;
    --snotra--state-layers--on-surface--opacity-12: #1C1B1F1F;
}

:root.dark-theme {
    --snotra--sys--primary: #FFB4A9;
    --snotra--sys--on-primary: #690001;
    --snotra--sys--primary-container: #930002;
    --snotra--sys--on-primary-container: #FFDAD5;
    --snotra--sys--secondary: #FFB4A9;
    --snotra--sys--on-secondary: #571E17;
    --snotra--sys--secondary-container: #73332B;
    --snotra--sys--on-secondary-container: #FFDAD5;
    --snotra--sys--tertiary: #F5BE2D;
    --snotra--sys--on-tertiary: #3F2E00;
    --snotra--sys--tertiary-container: #5B4300;
    --snotra--sys--on-tertiary-container: #FFDF9C;
    --snotra--sys--error: #FFB4AB;
    --snotra--sys--on-error: #690005;
    --snotra--sys--error-container: #93000A;
    --snotra--sys--on-error-container: #FFB4AB;
    --snotra--sys--outline: #A08C89;
    --snotra--sys--background: #201A19;
    --snotra--sys--background-85: #201A19;
    --snotra--sys--content-background: black; // temp value
    --snotra--sys--on-background: #EDE0DE;
    --snotra--sys--on-background-second-text: #998E8D;
    --snotra--sys--surface: #201A19;
    --snotra--sys--on-surface: #EDE0DE;
    --snotra--sys--on-surface-second-text: #7F7573;
    --snotra--sys--surface-variant: #534341;
    --snotra--sys--on-surface-variant: #D8C2BE;
    --snotra--sys--inverse-surface: #EDE0DE;
    --snotra--sys--inverse-on-surface: #362F2E;
    --snotra--sys--inverse-primary: #C00004;
    --snotra--sys--shadow: #000000;
    --snotra--sys--surface-tint: #FFB4A9;
    --snotra--sys--outline-variant: #534341;
    --snotra--sys--scrim: #000000;
    --snotra--sys--surface-tint-color: #FFB4A9;

    --snotra--surfaces---nav-rail-amp--header-background: #201B19;
    --snotra--surfaces--surface1: #201A19;
    --snotra--surfaces--surface2: #201A19;
    --snotra--surfaces--surface3: #201A19;
    --snotra--surfaces--surface4: #201A19;
    --snotra--surfaces--surface5: #201A19;
    
    --snotra--state-layers--on-surface--opacity-8: #E6E1E514;
    --snotra--state-layers--on-surface--opacity-12: #E6E1E51F;
}

$snotra--ref--primary--primary0: #000000;
$snotra--ref--primary--primary10: #410000;
$snotra--ref--primary--primary20: #690001;
$snotra--ref--primary--primary30: #930002;
$snotra--ref--primary--primary40: #C00004;
$snotra--ref--primary--primary50: #EF0007;
$snotra--ref--primary--primary60: #FF5543;
$snotra--ref--primary--primary70: #FF8A79;
$snotra--ref--primary--primary80: #FFB4A9;
$snotra--ref--primary--primary90: #FFDAD5;
$snotra--ref--primary--primary95: #FFEDEA;
$snotra--ref--primary--primary99: #FFFBFF;
$snotra--ref--primary--primary100: #FFFFFF;
$snotra--ref--primary--primary5: #2D0000;
$snotra--ref--primary--primary15: #540001;
$snotra--ref--primary--primary25: #7E0001;
$snotra--ref--primary--primary35: #AA0003;
$snotra--ref--primary--primary98: #FFF8F6;

$snotra--ref--secondary--secondary0: #000000;
$snotra--ref--secondary--secondary10: #2C1512;
$snotra--ref--secondary--secondary20: #442925;
$snotra--ref--secondary--secondary30: #5D3F3B;
$snotra--ref--secondary--secondary40: #775651;
$snotra--ref--secondary--secondary50: #926F69;
$snotra--ref--secondary--secondary60: #AE8882;
$snotra--ref--secondary--secondary70: #CAA29C;
$snotra--ref--secondary--secondary80: #E7BDB6;
$snotra--ref--secondary--secondary90: #FFDAD5;
$snotra--ref--secondary--secondary95: #FFEDEA;
$snotra--ref--secondary--secondary99: #FFFBFF;
$snotra--ref--secondary--secondary100: #FFFFFF;
$snotra--ref--secondary--secondary5: #200B08;
$snotra--ref--secondary--secondary15: #381F1B;
$snotra--ref--secondary--secondary25: #513430;
$snotra--ref--secondary--secondary35: #6A4B46;
$snotra--ref--secondary--secondary98: #FFF8F6;

$snotra--ref--tertiary--tertiary0: #000000;
$snotra--ref--tertiary--tertiary10: #251A00;
$snotra--ref--tertiary--tertiary20: #3E2E04;
$snotra--ref--tertiary--tertiary30: #574419;
$snotra--ref--tertiary--tertiary40: #705C2E;
$snotra--ref--tertiary--tertiary50: #8A7444;
$snotra--ref--tertiary--tertiary60: #A68E5B;
$snotra--ref--tertiary--tertiary70: #C2A873;
$snotra--ref--tertiary--tertiary80: #DEC38C;
$snotra--ref--tertiary--tertiary90: #FCDFA6;
$snotra--ref--tertiary--tertiary95: #FFEFD3;
$snotra--ref--tertiary--tertiary99: #FFFBFF;
$snotra--ref--tertiary--tertiary100: #FFFFFF;
$snotra--ref--tertiary--tertiary5: #181000;
$snotra--ref--tertiary--tertiary15: #322400;
$snotra--ref--tertiary--tertiary25: #4A390E;
$snotra--ref--tertiary--tertiary35: #635023;
$snotra--ref--tertiary--tertiary98: #FFF8F2;

$snotra--ref--error--error0: #000000;
$snotra--ref--error--error10: #410002;
$snotra--ref--error--error20: #690005;
$snotra--ref--error--error30: #93000A;
$snotra--ref--error--error40: #BA1A1A;
$snotra--ref--error--error50: #DE3730;
$snotra--ref--error--error60: #FF5449;
$snotra--ref--error--error70: #FF897D;
$snotra--ref--error--error80: #FFB4AB;
$snotra--ref--error--error90: #FFDAD6;
$snotra--ref--error--error95: #FFEDEA;
$snotra--ref--error--error99: #FFFBFF;
$snotra--ref--error--error100: #FFFFFF;
$snotra--ref--error--error5: #2D0001;
$snotra--ref--error--error15: #540003;
$snotra--ref--error--error25: #7E0007;
$snotra--ref--error--error35: #A80710;
$snotra--ref--error--error98: #FFF8F7;

$snotra--ref--neutral--neutral0: #000000;
$snotra--ref--neutral--neutral10: #201A19;
$snotra--ref--neutral--neutral20: #362F2E;
$snotra--ref--neutral--neutral30: #4D4544;
$snotra--ref--neutral--neutral40: #655C5B;
$snotra--ref--neutral--neutral50: #7F7573;
$snotra--ref--neutral--neutral60: #998E8D;
$snotra--ref--neutral--neutral70: #B4A9A7;
$snotra--ref--neutral--neutral80: #D0C4C2;
$snotra--ref--neutral--neutral90: #EDE0DE;
$snotra--ref--neutral--neutral95: #FBEEEC;
$snotra--ref--neutral--neutral99: #FFFBFF;
$snotra--ref--neutral--neutral100: #FFFFFF;
$snotra--ref--neutral--neutral5: #15100F;
$snotra--ref--neutral--neutral15: #2B2423;
$snotra--ref--neutral--neutral25: #413A38;
$snotra--ref--neutral--neutral35: #59504F;
$snotra--ref--neutral--neutral98: #FFF8F6;

$snotra--ref--neutral-variant--neutral-variant0: #000000;
$snotra--ref--neutral-variant--neutral-variant10: #251917;
$snotra--ref--neutral-variant--neutral-variant20: #3B2D2B;
$snotra--ref--neutral-variant--neutral-variant30: #534341;
$snotra--ref--neutral-variant--neutral-variant40: #6B5A58;
$snotra--ref--neutral-variant--neutral-variant50: #857370;
$snotra--ref--neutral-variant--neutral-variant60: #A08C89;
$snotra--ref--neutral-variant--neutral-variant70: #BBA7A3;
$snotra--ref--neutral-variant--neutral-variant80: #D8C2BE;
$snotra--ref--neutral-variant--neutral-variant90: #F5DDDA;
$snotra--ref--neutral-variant--neutral-variant95: #FFEDEA;
$snotra--ref--neutral-variant--neutral-variant99: #FFFBFF;
$snotra--ref--neutral-variant--neutral-variant100: #FFFFFF;
$snotra--ref--neutral-variant--neutral-variant5: #190E0C;
$snotra--ref--neutral-variant--neutral-variant15: #302321;
$snotra--ref--neutral-variant--neutral-variant25: #473836;
$snotra--ref--neutral-variant--neutral-variant35: #5F4F4C;
$snotra--ref--neutral-variant--neutral-variant98: #FFF8F6;

$snotra--source--seed: #F30007;