$snotra--white: #ffffff;
$snotra--black: #000000;
:root {
    --snotra--sys--primary: #c00004;
    --snotra--sys--on-primary: #ffffff;
    --snotra--sys--primary-container: #ffdad5;
    --snotra--sys--on-primary-container: #410000;
    --snotra--sys--secondary: #904a40;
    --snotra--sys--on-secondary: #ffffff;
    --snotra--sys--secondary-container: #ffdad5;
    --snotra--sys--on-secondary-container: #3b0905;
    --snotra--sys--tertiary: #785a00;
    --snotra--sys--on-tertiary: #ffffff;
    --snotra--sys--tertiary-container: #ffdf9c;
    --snotra--sys--on-tertiary-container: #251a00;
    --snotra--sys--error: #ba1a1a;
    --snotra--sys--on-error: #ffffff;
    --snotra--sys--error-container: #ffdad6;
    --snotra--sys--on-error-container: #410002;
    --snotra--sys--outline: #857370;
    --snotra--sys--background: #fffbff;
    --snotra--sys--background-85: #fffbff;
    --snotra--sys--content-background: #e5e3e5;
    --snotra--sys--on-background: #201a19;
    --snotra--sys--on-background-second-text: #655c5b;
    --snotra--sys--surface: #fffbff;
    --snotra--sys--on-surface: #201a19;
    --snotra--sys--on-surface-second-text: #655c5b;
    --snotra--sys--surface-variant: #f5ddda;
    --snotra--sys--on-surface-variant: #534341;
    --snotra--sys--inverse-surface: #362f2e;
    --snotra--sys--inverse-on-surface: #fbeeec;
    --snotra--sys--inverse-primary: #ffb4a9;
    --snotra--sys--shadow: #000000;
    --snotra--sys--surface-tint: #c00004;
    --snotra--sys--outline-variant: #d8c2be;
    --snotra--sys--scrim: #000000;
    --snotra--sys--surface-tint-color: #c00004;

    --snotra--surfaces---nav-rail-amp--header-background: #fdf4f7;
    --snotra--surfaces--surface1: #fceef2;
    --snotra--surfaces--surface2: #fffbff;
    --snotra--surfaces--surface3: #fffbff;
    --snotra--surfaces--surface4: #fffbff;
    --snotra--surfaces--surface5: #fffbff;

    --snotra--state-layers--on-surface--opacity-8: #1c1b1f14;
    --snotra--state-layers--on-surface--opacity-12: #1c1b1f1f;
}

:root.dark-theme {
    --snotra--sys--primary: #ffb4a9;
    --snotra--sys--on-primary: #690001;
    --snotra--sys--primary-container: #930002;
    --snotra--sys--on-primary-container: #ffdad5;
    --snotra--sys--secondary: #ffb4a9;
    --snotra--sys--on-secondary: #571e17;
    --snotra--sys--secondary-container: #73332b;
    --snotra--sys--on-secondary-container: #ffdad5;
    --snotra--sys--tertiary: #f5be2d;
    --snotra--sys--on-tertiary: #3f2e00;
    --snotra--sys--tertiary-container: #5b4300;
    --snotra--sys--on-tertiary-container: #ffdf9c;
    --snotra--sys--error: #ffb4ab;
    --snotra--sys--on-error: #690005;
    --snotra--sys--error-container: #93000a;
    --snotra--sys--on-error-container: #ffb4ab;
    --snotra--sys--outline: #a08c89;
    --snotra--sys--background: #201a19;
    --snotra--sys--background-85: #201a19;
    --snotra--sys--content-background: black; // temp value
    --snotra--sys--on-background: #ede0de;
    --snotra--sys--on-background-second-text: #998e8d;
    --snotra--sys--surface: #201a19;
    --snotra--sys--on-surface: #ede0de;
    --snotra--sys--on-surface-second-text: #7f7573;
    --snotra--sys--surface-variant: #534341;
    --snotra--sys--on-surface-variant: #d8c2be;
    --snotra--sys--inverse-surface: #ede0de;
    --snotra--sys--inverse-on-surface: #362f2e;
    --snotra--sys--inverse-primary: #c00004;
    --snotra--sys--shadow: #000000;
    --snotra--sys--surface-tint: #ffb4a9;
    --snotra--sys--outline-variant: #534341;
    --snotra--sys--scrim: #000000;
    --snotra--sys--surface-tint-color: #ffb4a9;

    --snotra--surfaces---nav-rail-amp--header-background: #201b19;
    --snotra--surfaces--surface1: #201a19;
    --snotra--surfaces--surface2: #201a19;
    --snotra--surfaces--surface3: #201a19;
    --snotra--surfaces--surface4: #201a19;
    --snotra--surfaces--surface5: #201a19;

    --snotra--state-layers--on-surface--opacity-8: #e6e1e514;
    --snotra--state-layers--on-surface--opacity-12: #e6e1e51f;
}

$snotra--ref--primary--primary0: #000000;
$snotra--ref--primary--primary10: #410000;
$snotra--ref--primary--primary20: #690001;
$snotra--ref--primary--primary30: #930002;
$snotra--ref--primary--primary40: #c00004;
$snotra--ref--primary--primary50: #ef0007;
$snotra--ref--primary--primary60: #ff5543;
$snotra--ref--primary--primary70: #ff8a79;
$snotra--ref--primary--primary80: #ffb4a9;
$snotra--ref--primary--primary90: #ffdad5;
$snotra--ref--primary--primary95: #ffedea;
$snotra--ref--primary--primary99: #fffbff;
$snotra--ref--primary--primary100: #ffffff;
$snotra--ref--primary--primary5: #2d0000;
$snotra--ref--primary--primary15: #540001;
$snotra--ref--primary--primary25: #7e0001;
$snotra--ref--primary--primary35: #aa0003;
$snotra--ref--primary--primary98: #fff8f6;

$snotra--ref--secondary--secondary0: #000000;
$snotra--ref--secondary--secondary10: #2c1512;
$snotra--ref--secondary--secondary20: #442925;
$snotra--ref--secondary--secondary30: #5d3f3b;
$snotra--ref--secondary--secondary40: #775651;
$snotra--ref--secondary--secondary50: #926f69;
$snotra--ref--secondary--secondary60: #ae8882;
$snotra--ref--secondary--secondary70: #caa29c;
$snotra--ref--secondary--secondary80: #e7bdb6;
$snotra--ref--secondary--secondary90: #ffdad5;
$snotra--ref--secondary--secondary95: #ffedea;
$snotra--ref--secondary--secondary99: #fffbff;
$snotra--ref--secondary--secondary100: #ffffff;
$snotra--ref--secondary--secondary5: #200b08;
$snotra--ref--secondary--secondary15: #381f1b;
$snotra--ref--secondary--secondary25: #513430;
$snotra--ref--secondary--secondary35: #6a4b46;
$snotra--ref--secondary--secondary98: #fff8f6;

$snotra--ref--tertiary--tertiary0: #000000;
$snotra--ref--tertiary--tertiary10: #251a00;
$snotra--ref--tertiary--tertiary20: #3e2e04;
$snotra--ref--tertiary--tertiary30: #574419;
$snotra--ref--tertiary--tertiary40: #705c2e;
$snotra--ref--tertiary--tertiary50: #8a7444;
$snotra--ref--tertiary--tertiary60: #a68e5b;
$snotra--ref--tertiary--tertiary70: #c2a873;
$snotra--ref--tertiary--tertiary80: #dec38c;
$snotra--ref--tertiary--tertiary90: #fcdfa6;
$snotra--ref--tertiary--tertiary95: #ffefd3;
$snotra--ref--tertiary--tertiary99: #fffbff;
$snotra--ref--tertiary--tertiary100: #ffffff;
$snotra--ref--tertiary--tertiary5: #181000;
$snotra--ref--tertiary--tertiary15: #322400;
$snotra--ref--tertiary--tertiary25: #4a390e;
$snotra--ref--tertiary--tertiary35: #635023;
$snotra--ref--tertiary--tertiary98: #fff8f2;

$snotra--ref--error--error0: #000000;
$snotra--ref--error--error10: #410002;
$snotra--ref--error--error20: #690005;
$snotra--ref--error--error30: #93000a;
$snotra--ref--error--error40: #ba1a1a;
$snotra--ref--error--error50: #de3730;
$snotra--ref--error--error60: #ff5449;
$snotra--ref--error--error70: #ff897d;
$snotra--ref--error--error80: #ffb4ab;
$snotra--ref--error--error90: #ffdad6;
$snotra--ref--error--error95: #ffedea;
$snotra--ref--error--error99: #fffbff;
$snotra--ref--error--error100: #ffffff;
$snotra--ref--error--error5: #2d0001;
$snotra--ref--error--error15: #540003;
$snotra--ref--error--error25: #7e0007;
$snotra--ref--error--error35: #a80710;
$snotra--ref--error--error98: #fff8f7;

$snotra--ref--neutral--neutral0: #000000;
$snotra--ref--neutral--neutral10: #201a19;
$snotra--ref--neutral--neutral20: #362f2e;
$snotra--ref--neutral--neutral30: #4d4544;
$snotra--ref--neutral--neutral40: #655c5b;
$snotra--ref--neutral--neutral50: #7f7573;
$snotra--ref--neutral--neutral60: #998e8d;
$snotra--ref--neutral--neutral70: #b4a9a7;
$snotra--ref--neutral--neutral80: #d0c4c2;
$snotra--ref--neutral--neutral90: #ede0de;
$snotra--ref--neutral--neutral95: #fbeeec;
$snotra--ref--neutral--neutral99: #fffbff;
$snotra--ref--neutral--neutral100: #ffffff;
$snotra--ref--neutral--neutral5: #15100f;
$snotra--ref--neutral--neutral15: #2b2423;
$snotra--ref--neutral--neutral25: #413a38;
$snotra--ref--neutral--neutral35: #59504f;
$snotra--ref--neutral--neutral98: #fff8f6;

$snotra--ref--neutral-variant--neutral-variant0: #000000;
$snotra--ref--neutral-variant--neutral-variant10: #251917;
$snotra--ref--neutral-variant--neutral-variant20: #3b2d2b;
$snotra--ref--neutral-variant--neutral-variant30: #534341;
$snotra--ref--neutral-variant--neutral-variant40: #6b5a58;
$snotra--ref--neutral-variant--neutral-variant50: #857370;
$snotra--ref--neutral-variant--neutral-variant60: #a08c89;
$snotra--ref--neutral-variant--neutral-variant70: #bba7a3;
$snotra--ref--neutral-variant--neutral-variant80: #d8c2be;
$snotra--ref--neutral-variant--neutral-variant90: #f5ddda;
$snotra--ref--neutral-variant--neutral-variant95: #ffedea;
$snotra--ref--neutral-variant--neutral-variant99: #fffbff;
$snotra--ref--neutral-variant--neutral-variant100: #ffffff;
$snotra--ref--neutral-variant--neutral-variant5: #190e0c;
$snotra--ref--neutral-variant--neutral-variant15: #302321;
$snotra--ref--neutral-variant--neutral-variant25: #473836;
$snotra--ref--neutral-variant--neutral-variant35: #5f4f4c;
$snotra--ref--neutral-variant--neutral-variant98: #fff8f6;

$snotra--source--seed: #f30007;
